@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

body, p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #222;
}

.navBar {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    padding: 10px 0;
}

.navFlexItems {
    text-align: center;
    width: 33%;
}

.logo {
    color: white;
    background: black;
    line-height: 1.5;
    width: 120px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 1.5em;
}

.menuItems {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0 .5em;
    font-size: 1em;
    font-weight: 600;
}

.menuItems:hover {
    color: gray;
}

.header {
    position: relative;
    top: -90px;
    padding: 0;
    margin: 0;
}

.headerText {
    color: white;
    font-size: 14px;
    position: relative;
    margin: 0 1.5em;
    padding: 0;
    top: -30px;
}

.content {
    margin: 0;
    text-align: center;
    padding: 1.5em;
}

.container {
   margin: 0 auto;
   text-align: left;
   position: relative;
   top: -100px;
   padding: 0 1.5em;
}

button, .artCard a {
    background-color: #d55140;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 2.5em;
    padding: 8px 16px;
    margin: 16px 8px 8px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

button:hover, .artCard a:hover {
    background-color: lightgrey;
    color: gray;
}

.cardContainer {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.artCard .title {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.artCard .artist {
    font-size: 16px;
    font-weight: 400;
    color: #444;
}

.artCard {
    padding: 0;
    margin: 10px;
    width: 300px;
    text-align: left;
}

.artCard img{
    max-width: 100%;
}

.favoritesHeader {
    text-align: center;
}

input[type=submit] {
    padding:5px 15px;  
    border:0 none;
    cursor:pointer;
    background: black;
    color: white;
    font-family: "Poppings", sans-serif
}

input[type=submit]:hover{
    background-color: lightgrey;
    color: gray;
}

.singleComment {
    width: 300px;
    margin: 24px 0px 16px 0px;
    border-bottom: 1px solid lightgray;
}

.commentField {
    font-size: 16px;
    font-weight: 500;
}

.commentName {
    font-weight: 300;
    font-size: 14px;
}